<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %> 
    <script src="https://cdn.tiny.cloud/1/s5b8jmmq6w03xfpbxoe6eophnsimtz9igqk61qsmgq2d2l97/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Input Paket Soal</title>
</head>

<body>    
<%- include('partial/header') %> 

    <!-- Blog Start -->
    <div class="blog_main">
    	<div class="container-fluid">
            <div class="d-flex justify-content-center mt-5">
                <h2 class="h2">Edit Soal Dan Pembahasan</h2>
            </div>

            <form action="/update-soal/<%= soal.id %>" method="post">
                
                <label for="paket_soal">Paket Soal: </label>
                <select name="paket_soal" id="paket_soal">
                    <% if (Object.keys(locals.pakets).length!==0) { %>
                        <% pakets.forEach(pkt => { %>
                            <% if (pkt.id==paket.id) { %>
                                <option value="<%= pkt.id %>" selected><%= pkt.nama_paket %> </option>
                            <% }else{ %>
                                <option value="<%= pkt.id %>"><%= pkt.nama_paket %> </option>
                            <% } %>
                        <% }) %>
                    <% } %>
                </select>

                <label for="soal">Soal</label>
                <br>
                <textarea class="soal-pembahasan" name="soal" id="soal" cols="150" rows="10"><%- soal.dat_soal.soal %> </textarea>
                <hr>
                <h3>Pilihan Ganda:</h3>
                <label for="pilA">A.</label>
                <textarea name="pilA" id="pilA" class="pilgan" ><%- soal.dat_soal.pilA %> </textarea>
                <label for="pilB">B.</label>
                <textarea name="pilB" id="pilB" class="pilgan" ><%- soal.dat_soal.pilB %> </textarea>
                <label for="pilC">C.</label>
                <textarea name="pilC" id="pilC" class="pilgan" ><%- soal.dat_soal.pilC %> </textarea>
                <label for="pilD">D.</label>
                <textarea name="pilD" id="pilD" class="pilgan" ><%- soal.dat_soal.pilD %> </textarea>
                <label for="pilE">E.</label>
                <textarea name="pilE" id="pilE" class="pilgan" ><%- soal.dat_soal.pilE %> </textarea>
                <hr>
                <label for="pembahasan">Pembahasan</label>
                <br>
                <textarea class="soal-pembahasan" name="pembahasan" id="pembahasan" cols="150" rows="10"><%- soal.dat_soal.pembahasan %> </textarea>
                <div class="d-flex justify-content-center">
                    <button type="button" class="btn btn-success my-4 btn-block" id="submitBtn" style="width: 50%;">submit</button>
                </div>
            </form>
            <br><br><br><br><br><br><br><br><br>
       	</div>
    </div> 

    <!--blog end -->

    
    
    <%- include('partial/copyright')  %> 

    <%- include('partial/footer') %> 

    <script src="/js/edit_pilgan.js"></script>
    <script src="/js/edit_soal.js"></script>
</body>
</html>