<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %> 
    <script src="https://cdn.tiny.cloud/1/s5b8jmmq6w03xfpbxoe6eophnsimtz9igqk61qsmgq2d2l97/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Input Post</title>
</head>

<body>    
<%- include('partial/header') %> 

    <!-- Blog Start -->
    <div class="blog_main">
    	<div class="container-fluid">
            <div class="d-flex justify-content-center mt-5">
                <h2 class="h2">Edit Post</h2>
            </div>

            <form action="/update-post/<%= post.id %>" method="POST">
                <label for="nama">Judul Pos:</label>
                <input type="text" name="title" value="<%= post.title %>">
                <br>
                <label for="post">Post</label>
                <textarea name="body">
                    <%= post.body %> 
                </textarea>
                <label for="geogebra">Input link Geogebra</label>
                <input width="100px" type="text" name="geogebra" id="geogebra" value="<%= post.geogebra %>">
                <button type="submit" class="btn btn-success" id="form-button">Submit</button>
            </form>
            <div style="height: 120px;"></div>
       	</div>
    </div> 

    <!--blog end -->

    
    
    <%- include('partial/copyright')  %> 

    <%- include('partial/footer') %> 

    <script src="/js/edit_post.js"></script>
</body>
</html>