<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %> 
    <script src="https://cdn.tiny.cloud/1/s5b8jmmq6w03xfpbxoe6eophnsimtz9igqk61qsmgq2d2l97/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <title>Input Paket Soal</title>
</head>

<body>    
<%- include('partial/header') %> 

    <!-- Blog Start -->
    <div class="blog_main">
    	<div class="container-fluid">
            <div class="d-flex justify-content-center mt-5">
                <h2 class="h2">Input Soal Dan Pembahasan</h2>
            </div>

            <form action="/insert-soal" method="post">
                <label for="paket_soal">Paket Soal: </label>
                <select name="paket_soal" id="paket_soal">
                    <% if (Object.keys(locals.paketSoal).length!==0) { %>
                        <% paketSoal.forEach(paket => { %>
                            <% if(idPaket==paket.id){ %> 
                                <option value="<%= paket.id %>" selected><%= paket.nama_paket %> </option>
                            <% }else{ %> 
                                <option value="<%= paket.id %>"><%= paket.nama_paket %> </option>
                            <% } %> 
                        <% }) %>
                    <% } %>
                    
                </select>
                <label for="soal">Soal</label>
                <br>
                <textarea name="soal" id="soal" cols="150" rows="10"></textarea>
                <hr>
                <h3>Pilihan Ganda:</h3>
                <label for="pilA">Pilihan A</label>
                <input type="text" id="pilA" name="pilA" class="pilgan mt-0 pt-0">
                <br>
                <label for="pilB">Pilihan B</label>
                <input type="text" id="pilB" name="pilB" class="pilgan mt-0 pt-0">
                <br>
                <label for="pilC">Pilihan C</label>
                <input type="text" id="pilC" name="pilC" class="pilgan mt-0 pt-0">
                <br>
                <label for="pilD">Pilihan D</label>
                <input type="text" id="pilD" name="pilD" class="pilgan mt-0 pt-0">
                <br>
                <label for="pilE">Pilihan E</label>
                <input type="text" id="pilE" name="pilE" class="pilgan mt-0 pt-0">
                <br>
                <hr>
                <label for="pembahasan">Pembahasan</label>
                <br>
                <textarea name="pembahasan" id="pembahasan" cols="150" rows="10"></textarea>
                <div class="d-flex justify-content-center submitDiv">
                    <button type="button" class="btn btn-success my-4 btn-block" id="submitBtn" style="width: 50%;">submit</button>
                    
                </div>
                
            </form>
            <br><br><br><br><br><br><br><br><br>
       	</div>
    </div> 

    <!--blog end -->

    
    
    <%- include('partial/copyright')  %> 

    <%- include('partial/footer') %> 

    <script src="/js/pilgan.js"></script>
    <script src="/js/insert_soal_pembahasan.js"></script>
</body>
</html>