<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %> 
</head>
<body>
    <%- include('partial/header') %> 

    <!-- Blog Start -->
    <div class="blog_main">
    	<div class="container">
            
            <% info.forEach(inf => { %>
				<div class="alert alert-success" role="alert">
					<%= inf %> 
				</div>
			<% }) %>
			<% error.forEach(err => { %>
				<div class="alert alert-danger" role="alert">
					<%= err %> 
				</div>
			<% }) %>

            <% if (locals.user !== null) { %>
                <div class="d-flex justify-content-end mt-3">
                    <a href="/insert-paket-soal" class="btn btn-info"><i class="fas fa-pen"></i> Input Paket Soal</a>
                    <a href="/insert-soal" class="btn btn-primary mx-3"><i class="fas fa-edit"></i> Input Soal</a>
                </div>    
            <% } %>
            
    		<div class="row">
                
    			<div class="col-sm-12">
    				<h1 class="blog_text">List soal Dan Pembahasan</h1>
    			</div>
    	    </div>
            <div class="row">
                <div class="col-sm-12 col-md-9">
                    <ul class="text-primary">
                        <% let i=1; paketSoal.forEach(paket => { %>
                            <li class="pt-4" class="text-primary">
                                <a class="text-primary h5" href="/soal/<%=paket.id%>"><%= i %>. <%= paket.nama_paket %>  </a>
                                <% if (locals.user !== null) { %>
                                    <a href="/edit-paket-soal/<%= paket.id %>" class="ml-lg-5 btn btn-sm btn-success">Edit</a>
                                <% } %>
                            </li>
                        <% i+=1; }) %>
                        
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3">
                    <% posts.rows.forEach(post => { %>
                        <div class="container-fluid mb-4 border">
                            <a href="#"><img src="<%= post.image %> " style="max-width: 100%;"></a>
                                <button type="button" class="date-bt"><%= post.datePost %> </button>
                                <a class="text-primary" href="/post/<%= post.id %>"><p class="h4"><%= post.title %> </p></a>
                                <p class="my-0"><%= post.desc %> </p>
                        </div>
                    <% }) %>
                </div>
            </div>
       	</div>
    </div> 
    <!--blog end -->
   

    <%- include('partial/contact')  %> 
    
    <%- include('partial/copyright')  %> 

    <%- include('partial/footer') %> 
</body>
</html>