<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partial/head') %> 
    <title>Blog List</title>
    <style>
        iframe{
            width: 100%;
            height: 700px;
        }
        /* @media only screen and (max-width: 768px) {
            img{
                width: 100%;
                height: auto;
            }
            iframe{
                width: 100%;
                height: 400px;
            }    
        } */
    </style>
</head>

<body>    
<%- include('partial/header') %> 

    <!-- Blog Start -->
    <div class="blog_main">
    	<div class="container">
            <% if (locals.user !== null) { %>
                <div class="row d-flex justify-content-end mt-4">
                    <a href="/edit-post/<%= post.id %>" class="btn btn-primary"><i class="fas fa-edit"></i> Edit Post</a>
                    <div class="mx-4">
                        <button class="btn btn-danger" id="btn-delete"><i class="fas fa-trash"></i> Hapus Post</button>
                        <input type="text" value="<%= post.id %>" id="id-post" hidden>
                    </div>
                    
                </div>    
            <% } %>
            
            <div class="d-flex justify-content-center mt-4">
                <h1 class="h1"><%= post.title %> </h1>
            </div>
            
            <%- post.body %> 
            <hr>
            <iframe src="<%=post.geogebra%>" frameborder="0"></iframe>
       	</div>
    </div> 

    <!--blog end -->
    <%- include('partial/contact')  %> 
    
    <%- include('partial/copyright')  %> 

    <%- include('partial/footer') %> 
    <script src="/js/show_post_script.js"></script> 
</body>
</html>

